.event-page{
  
  &-title{
    padding: 15px;
    border-bottom: 1px solid black;
    >h2 {
      margin-bottom: 0;
    }
  }
  &-icon{
    font-size: $font-sm;
    padding: 4px 15px;
    border-bottom: 1px solid black;
    .share-button {
      margin-right: 15px;
      &:hover{
        box-shadow: none!important;
        transform: none!important;
      }
    }
  }
  &-description {
    font-size: $font-sm;
    padding: 10px 18px;
  }
  &-wrapper{
    background-color: white;
    border-left: 1px solid black;
    border-bottom:1px solid black ;
    border-right: 1px solid black;
    margin-bottom: 30px;
    @include breakpoint-up(large){
      display: flex;
    }
    
  }
  &-place{
    color: black;
    text-decoration: underline;
  }
  &-slider{
    border-bottom:1px solid black ;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  &-map{
    overflow:hidden;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid black;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  &-fulladdress{
    font-size: $font-sm;
    padding: 0 18px;
  }
}

.column1{
  @include breakpoint-up(large){
    width: 40%;
  }
  border-right: 1px solid black;
}
.column2{
  @include breakpoint-up(large){
    width: 60%;
  }
}

