.slider{
  z-index: 0;
  position: relative;
  margin:0 auto;
}
.slider-center {
  margin: 0 auto;
  margin-top: 0!important;
  width: 80vw;
  height: 650px;
  max-width: 700px;
  position: relative;
  //for desktop and tablet
  @include breakpoint-up(medium){
    height: 800px;
  }
  >a{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    color: black;
    transition: all 200ms ease-in-out;
    &:hover {
      transform: translate(-5px, -5px);
      box-shadow: black 5px 5px;
    }
  }
  .activeSlide{
    opacity: 1;
    
    visibility: visible;
    transform: translateX(0);
  }
  .lastSlide {
    visibility: hidden;
    transform: translateX(-100%);
  }
  .nextSlide {
    visibility: hidden;
    transform: translateX(100%);
  }
  margin-top: 100px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s linear;
}

.prev {
  left: 0;
}
.next {
  right: 0;
}

