.slider{
  z-index: 0;
  position: relative;
  margin:0 auto;
}
.slider-center {
  margin: 0 auto;
  margin-top: 0!important;
  width: 90%;
  height: 600px;
  max-width: 700px;
  position: relative;
  //for desktop and tablet
  @include breakpoint-up(medium){
    height: 700px;
  }
  @include breakpoint-up(large){
    width: 85%;
    height: 600px;
  }
  >a{
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    
    transition: all 200ms ease-in-out;
    &:hover {
      transform: translate(-5px, -5px);
      box-shadow: black 5px 5px;
    }
  }
  .activeSlide{
    opacity: 1;
    
    visibility: visible;
    transform: translateX(0);
  }
  .lastSlide {
    visibility: hidden;
    transform: translateX(-100%);
  }
  .nextSlide {
    visibility: hidden;
    transform: translateX(100%);
  }
  margin-top: 100px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  display: grid;
  place-items: center;
  border-color: transparent;
  
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s linear;
  img{
    width: 2,5rem;
  }
}

.prev {
  left: -10px;
  @include breakpoint-down(medium){
    left: -20px;
  }
}
.next {
  right: -10px;
  @include breakpoint-down(medium){
    right: -20px;
  }
}

