// Colors
$purple : hsla(312, 100%, 78%, 1);
$green: hsla(155, 61%, 81%, 1);

// Font Sizes 
$font-xl:2.5rem;//40px
$font-lg:1.5rem;//24px
$font-med: 1.25rem;//20px
$font-sm:0.875rem;//14px
$font-xsm:0.75rem; //12px